<div style="padding-left:20px; padding-right:20px">
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
    <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
    <div class="row">
        <div class="span2">
            <h2 ng-class="myclass" ng-bind-template="{{event.name | uppercase}}"></h2>
        </div>
    </div>
    <div class="row">

        <button class="btn" ng-disabled="buttonDisabled">Disable</button>


        <div ng-bind-html-unsafe='snippet'></div>
        <div ng-bind-html="snippet">Some Title</div>
        <div ng-show="boolValue">Show This</div>
        <div ng-hide="boolValue">Hide This</div>




    </div>
    <div class="row">
        <div class="span3">
            <div><strong>Date: </strong> {{event.date}}</div>
            <div><strong>Time: </strong> {{event.time}}</div>
        </div>
        <div class="span3">
            <address>
                <strong> Address: </strong><br>
                    {{event.location.address}}<br>
                    {{event.location.city}}, {{event.location.province}}
                </address>
        </div>
    </div>



    <h3>Sessions</h3> Order By:

    <select ng-model='sortorder' class="input-small">

                <option selected value="name">Name</option>
                <option selected value="-upVoteCount">Highest Vote</option>

            </select>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions | orderBy: sortorder" id="session{{session.id}}">

            <div class="row session">

                <div class="span well votingWidget">
                    <div class="votingButton" ng-click="upVoteSession(session)">
                        <i class="icon-chevron-up icon-white"></i>
                    </div>
                    <div class="badge badge-inverse">
                        <div>{{session.upVoteCount}} </div>
                    </div>
                    <div class="votingButton" ng-click="downVoteSession(session)">
                        <i class="icon-chevron-down"></i>
                    </div>
                </div>

                <div class="well span9">
                    <h4 class="well-title">{{session.name}}</h4>
                    <h6 style="margin-top:-10px"> {{session.creatorName}} </h6>
                    <span> Duration: {{session.duration | durations}} </span>
                    <br>
                    <span> Level: {{session.level}} </span>

                </div>
            </div>
        </li>

    </ul>
</div>
